# Here we set a bunch of parameters for your image build

# output image name, usually same as repo name, change as needed
IMAGE_NAME=bazzite-surface-book2

# Make this the same as your github username/organisation
REPO_ORGANIZATION="roguesergeant"

IMAGE_DESC="Bazzite KDE for the Surface Book 2 13 inch, with the IPTS touchscreen and pen driver patched for Linux 7"
IMAGE_KEYWORDS="bootc,bazzite,surface,surface-book-2,ipts,touchscreen"

# Put your own image here for a fancy profile on https://artifacthub.io/!
IMAGE_LOGO_URL="https://avatars.githubusercontent.com/u/120078124?s=200&v=4"
DEFAULT_TAG="latest"
BIB_IMAGE="quay.io/centos-bootc/bootc-image-builder:latest"
